@charset "utf-8";

body{
    width: 700px;
    margin: auto;
    background-color: beige;
}

h1{
    text-align: center;
}
.espace{
    display: flex;
    justify-content: center;
    align-items: center;
}

